/* Variáveis de formatação */
:root {
    --cor1: #D3FFFE;
    --cor2: #588685;
    --cor3: #0F5E5C;
    --cor4: #58B3B0;
    --cor5: #113433;

    --bg1: linear-gradient(135deg, var(--cor2) 0%, var(--cor3) 50%, var(--cor2) 100%);
    --bg2: var(--cor5);
    --bg3: var(--cor3);

    --fonte1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte2: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Reset de configs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
    transition: all 0.3s ease;
}

h1,
h2,
h3,
p {
    text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
}

/* ----------------------------------------- */
/* ---------------- Public ----------------- */
/* ----------------------------------------- */

/* Estrutura principal */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg1);
    color: var(--cor1);
}

main {
    flex-grow: 1;
}

.container {
    place-items: center;
}

.card-container {
    display: grid;
    gap: 25px;
}

#atividades .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

#carteiras .card-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: auto;
    margin-right: auto;
}

.card {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.card p {
    text-align: center;
}

section {
    padding: 5px 15px;
    max-width: 85%;
    margin: 15px auto 50px auto;
}

section h1,
h3 {
    text-align: center;
    margin-bottom: 25px;
}

article {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
}

article p {
    text-align: justify;
    text-indent: 32px;
    margin-bottom: 25px;
}

ul {
    padding: 15px;
}

li {
    list-style: none;
    border-left: 4px solid var(--cor5);
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}


/* Header e Footer */
header {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--bg2);
    gap: 10px;
}

#nav-header {
    text-align: center;
}


footer {
    background-color: var(--bg2);
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    text-align: center;
}


/* ----------------------------------------- */
/* ----------------- App ------------------- */
/* ----------------------------------------- */

/* Estrutura principal */









/* ----------------------------------------- */
/* ------------- Formulários --------------- */
/* ----------------------------------------- */
form label,
input,
select,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}



form {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 35px;
    width: max-content;
}


#form-contato input[type='submit'] {
    margin-top: 15px;
    padding: 5px 15px;
    /* max-width: 50%; */
    border-radius: 5px;
    color: var(--cor5)
}

#form-contato input[type='submit']:hover {
    font-weight: 700;
    background-color: #e0e0e0;
}


/* ----------------------------------------- */
/* ------------- Botões --------------- */
/* ----------------------------------------- */

#btn-login {
    padding: 5px 15px;
    max-width: max-content;
    border-radius: 5px;
    color: var(--cor5)
}

#btn-login:hover {
    font-weight: 700;
    background-color: #e0e0e0;
}

.btn-navegacao {
    color: var(--cor4);
    text-decoration: none;
    line-height: 1.5;
    padding: 5px 15px;
    font-weight: 400;
    transition: font-weight 0.1s linear,
        text-decoration 0.8s ease-in-out;
}

.btn-navegacao:hover {
    font-weight: 800;
    text-decoration: underline;
}


.btn-sair {}

.btn-menu {}




/* ----------------------------------------- */
/* ------------- Formulários --------------- */
/* ----------------------------------------- */









/* ----------------------------------------- */
/* ------------- Utilidades --------------- */
/* ----------------------------------------- */

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.w25 {
    max-width: 25%;
}

.w50 {
    max-width: 50%;
}

.w75 {
    max-width: 75%;
}

.w100 {
    max-width: 100%;
}





/* ----------------------------------------- */
/* ------------- Media query --------------- */
/* ----------------------------------------- */


/* Estilos para Telas Médias (Tablets e Celulares em modo paisagem) */
@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        place-items: center;
    }

    #atividades .card-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    #carteiras .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }



}

/* Estilos para Telas Pequenas (Celulares em modo retrato) */
@media (max-width: 480px) {
    header {
        grid-template-columns: auto;
        grid-template-rows: 15% auto 15%;
    }

    #atividades .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
    }

    #carteiras .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin-left: auto;
        margin-right: auto;
    }


}