@charset "UTF-8";

:root {
    --cor1: #D3FFFE;
    --cor2: #588685;
    --cor3: #0F5E5C;
    --cor4: #58B3B0;
    --cor5: #113433;
}

/* Reset de configs */
* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;

}

/* Estrutura da página */
header {
    width: 100%;
    background-color: var(--cor5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    line-height: 1;
}


body {
    padding-top: 100px;
    background: linear-gradient(135deg, var(--cor2) 0%, var(--cor3) 50%, var(--cor2) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 650px;
    width: 100%;
    flex-grow: 1;
    align-self: center;
    color: var(--cor1);
}



section {
    width: 100%;
    max-width: 650px;
    padding: 20px 0px 50px 0px;
    margin: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    justify-items: center;
    scroll-margin-top: 80px;
}


article {
    text-align: justify;
    font-weight: 400;
    text-indent: 32px;
    margin: 10px;
}

footer {
    background-color: var(--cor5);
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/* Configs básicas */

h1,
h2,
h3 {
    color: var(--cor1);
    padding: 10px 0px 20px 0px;
    margin: 10px;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}

h4 {
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.5);
}

p {
    color: var(--cor1);
    padding: 1px 0px 10px 0px;
    margin: 10px;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.8);
    text-align: justify;
    word-spacing: 1.2px;
    line-height: 1.3em;
}

ul {
    padding: 10px;
    list-style: none;
}


li {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--cor3);
    border-left: 1px solid var(--cor1);
    box-shadow: 1px 1px 2px var(--cor5);
    text-align: left;
    font-weight: 500;
}

/* Navegação */
/* Estilo para os cards de atividades */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.card {
    background: rgba(0, 0, 0, 0.15);
    padding: 10px 10px;
    border-radius: 8px;
    flex-basis: 45%;
    flex: 1 1 45%;
    min-width: 200px;
    text-align: center;
    box-shadow: 1px 1px 5px var(--cor5);
}

.card:hover {
    box-shadow: 0.2px 0.2px 5px 1px var(--cor5);
}

.bloco {
    display: inline-block;
    padding: 10px;
    text-align: center;

}

footer>p {
    color: var(--cor4);
    text-shadow: 1px 1px 1px var(--cor5);
    text-align: center;
}

.nav-menu {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
}

.nav-menu a {
    color: var(--cor4);
    text-decoration: none;
    padding: 8px;
    margin: 1px;
    border-radius: 5px;
    transition: color 0.5s, background-color 1s;
}

.nav-menu a:hover {
    /* text-decoration: underline; */
    background-color: var(--cor3);
    color: var(--cor1);
}


button {
    border-radius: 10px;
    font-weight: bold;
    color: var(--cor2);
    padding: 10px;
    background-color: white;
}

button:hover {
    transform: translateY(-1px);
    box-shadow: 0.2px 0.2px 5px 0.5px var(--cor5);
}

.btn {
    background-color: var(--cor3);
    color: var(--cor1);
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
    margin: 10px;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    min-width: max-content;
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0.2px 0.2px 5px 0.5px var(--cor1);
    color: var(--cor5);
    transition: 0.5s;
}

.container-form {
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0.2px 0.2px 5px 0.2px black;
    min-width: 300px;
    max-width: 350px;
    padding: 10px;
}

form > label {
    background-color: var(--cor2);
    color: var(--cor1);
    border-radius: 5px;
    display: block;
    font-size: 0.8em;
    padding: 3px;
    margin: 10px 5px 5px 1px;
    font-weight: bold;
    max-width: fit-content;
    box-shadow: 0.2px 0.2px 3px 1px var(--cor5);
}


form > input, select, option {
    /* background-color: var(--cor1); */
    color: var(--cor5);
    margin: 5px 0px 5px 1px;
    border: 1px solid black;
    border-radius: 5px;
    width: 99%;
    height: 32px;
    font-weight: bold;
}

form > textarea {
    /* background-color: var(--cor1); */
    color: var(--cor5);
    font-weight: bold;
    border: 1px solid black;
    margin: 5px 0px 5px 1px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    width: 99%;
    height: 150px;
}

input[type="submit"] {
    display: block;
    justify-self: center;
    margin: 10px auto;
    width: 30%;
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bold;
}

input[type="submit"]:hover {
    transform: translateY(-1px);
}


.container-contato {
    padding: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



input:focus, textarea:focus, select:focus, option:focus {
    background-color: var(--cor1);
}


.filtro {
    width: 100%;
    background-color: white;
    color: var(--cor5);
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    padding: 20px;
}


@media (max-width: 600px) {
    body {
        padding-top: 200px;
    }
    
}




